.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

form {
  margin: 20px auto;
  height: fit-content;
}

input,
textarea {
  min-height: 30px;
  border: gray solid 2px;
  border-radius: 3px;
  font-size: 15px;
  margin-bottom: 10px;
}

form textarea {
  min-height: 50px;
}

form button {
  border-radius: 5px;
  border: none;
  min-height: 30px;
  cursor: pointer;
}

form button:hover {
  background: #1e90ff;
}

.request-state {
  display: none;
  font-size: 20px;
}

.request-state.visible {
  display: inline;
}
