.home {
 padding-top: 30px;
}
.home__grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 0;
}

.home-dark {
  background: var(--darkColor);
  color: var(--lightColor)
}
