:root {
  --darkColor: #1c2833;
  --lightColor: #fdfefe;
  --complementaryColor: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--lightColor);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}
